# 環境変数・APIキーなど
.env

# 仮想環境
.venv/

# Pythonキャッシュ
__pycache__/

# OSやエディタの不要ファイル
.DS_Store

Cbc/
Cgl/
Clp/
CoinUtils/
build/
Osi/
*.pyc
*.log
*.sqlite3
.idea/
.vscode/
node_modules/
dist/
document/
empty-folder/