{% extends 'base.html' %}
{% block title %}食材一覧{% endblock %}
{% block content %}

<div class="container my-5">
    <div class="text-center mb-4">
        <h2>食材一覧({{ total_types }}種類)</h2>
    </div>
    <table class="table table-bordered" style="max-width: 550px; margin: auto;">
        <thead>
          <tr>
            <th scope="col" class="text-center">食材名</th>
            <th scope="col" class="text-center">合計使用量(g)</th>
          </tr>
        </thead>
        <tbody>
          {% for name, qty in ingredients.items() %}
            {% if qty != 0 %}
              <tr>
                <th scope="row">{{ name }}</th>
                <td>{{ qty|round(0, 'common')|int }}</td>
              </tr>
            {% endif %}
        {% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}
