{% extends 'base.html' %}
{% block title %}献立一覧{% endblock %}
{% block content %}

<div class="container my-5">
    <div class="mb-4">
        <h2 class="text-center">献立一覧</h2>
        <p>
          献立作成日時：
          {% if menu_created_date %}
            {{ menu_created_date.strftime("%Y年%m月%d日") }}
          {% else %}
            未作成
          {% endif %}
        </p>
    </div>
    {% for daily_meals in weekly_data %}
<h5 class="mt-3">{{ loop.index }}日目の献立</h5>

<div class="row row-cols-4 g-3">
  {% for title, recipe_url, img_url, meal_type in daily_meals %}
  <div class="col">
    <div class="card h-100 text-center" style="font-size: 0.85rem; height: 320px;">
      
      <img src="{{ img_url }}" 
           class="card-img-top"
           style="height: 140px; object-fit: cover;">

      <div class="card-body p-2 d-flex flex-column">
        <p class="card-title mb-2" style="font-size: 0.85rem;">{{ title }}</p>

        {% if recipe_url is not none %}
        <a href="{{ recipe_url }}" 
           class="btn btn-sm btn-primary mt-auto"
           target="_blank" rel="noopener">レシピを見る</a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<br>
{% endfor %}

</div>
{% endblock %}
